@import 'https://fonts.googleapis.com/css?family=Montserrat';


$Montserrat: 'Montserrat', sans-serif;


$green: #1DB954;
$white: #FFFFFF;
$black: #191414;


body {
  background-color: $black;
  margin: 0;
  padding: 0;
  font-family: $Montserrat;
}


.wrapper {
  margin: auto;
}


.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.title {
  color: $white;
  letter-spacing: 3px;
}

.search-text {
  font-size: 1.5em;
  letter-spacing: .1em;
  text-align: center;
  border:2px solid $green;

}

::placeholder {
  font-family: $Montserrat;
}

.search-button {
  border-radius: 1rem;
  margin: 1.5rem auto;
  padding: .2rem;
  font-size: 1.1em;
  letter-spacing: .1em;
  display: block;
  width: 25%;
  background: $green;
  border: 1px solid $white;
  color: $white;
}

.logo {
  height: 15vh;
}


.content {
  padding: 0 1rem;
}

.list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  li {
    list-style-type: none;
    flex:1;
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
  }
}

.album-name {
  padding: 0 1rem;
  text-align: center;
  color: $white;
  font-weight: 500;
  font-family: $Montserrat;
  height: 2rem;
  line-height: 3rem;
}
